<center><h1>Welcome <%=@user.username%>!</h1></center><br>
<%if @user.pantries.empty?%>
    <center>
    <h2>Start by creating your pantry</h2>
    <form action="/pantries/new" method="GET">
    <label for="name">Give your pantry a name</label>
    <input id="name" type="text" name="name" required>
    <input id="is_fullhidden" type="hidden" name="is_full" value="false"/>
    <input id="create" type="submit" name="Create" value="Create"/>
    </form>
    </center>
<% else %>
    <center><h2>Heres A Look Into Your Pantry</h2></center>
    <h3>Is Full: <%=@pantry.is_full?%></h3>
    <h3>Number of expired items: <%=Pantry.number_of_expired_items(@pantry.id)%></h3>
    <center><br><br>
    <%if !Pantry.expired_items(@pantry.id).empty?%>
        <center><h2>These items in your pantry are expired</h2></center>
        <% Pantry.expired_items(@pantry.id).each do |item| %>
                <h3> <%= item.name %> </h3><br>
        <form action="/pantries/<%=item.id%>" method="GET">
            <input type="submit" value="VIEW"/>
        </form><br>
        <% end %>
    <% else %>
        <center><h2>You have no expired items in your pantry to view</h2></center>
    <% end %>



    </center>
<% end %>
