<center>
<h1>Here You Can Edit Or Remove Items From Your Pantry</h1>
<h3>
<form action="/pantries/<%=@grocery.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<label for="name">Name</label>
<input id="name" type="text" name="name" value=<%=@grocery.name%>><br>
<label for="count">Quantity</label>
<input id="count" type="number" name="count" value=<%=@grocery.count%>><br>
<label for="purchase_date">Purchase date</label>
<input id="purchase_date" type="date" name="purchase_date" value=<%=@grocery.purchase_date%>><br>
<label for="expiration_date">Expiration date</label>
<input id="expiration_date" type="date" name="expiration_date" value=<%=@grocery.expiration_date%>><br>
<input type="submit" name="edit" value="edit item">
</form>
</h3>
</center>